{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Nous contacter{% endblock %}

{% block css %}<link href="{% static 'css/contact.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 well">
				{% if mail_sent %}
					<h1 class="alert alert-info" id="title">Message envoyé</h1>
					<p><strong>Votre message a été envoyé, vous recevrez une réponse sous peu de la part de notre équipe de modération.</strong></p>
				{% else %}
					<h2 class="text-center">Renseignez votre adresse mail ainsi que votre demande dans les champs ci-dessous</h2>
					<form action="{% url 'contact' %}" method="post">
						{% csrf_token %}
						{% for field in form %}
							<div class="row">
									<label class="control-label col-sm-6">{{ field.label }}</label>
							{% if field.errors %}
								<label class="control-label col-sm-6 erreur">{% for error in field.errors %}{{ error }}{% endfor %}</label>
								</div>
								<div class="row">
		  							<div class="col-sm-12">{{ field }}</div>
		  						</div>
							{% else %}
								</div>
		  						<div class="row">
		  							<div class="col-sm-12">{{ field }}</div>
		  						</div>
	  						{% endif %}
						{% endfor %}
						<p class="text-center"><button class="btn btn-primary" type="submit" id="button"><span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button></p>
					</form>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
