select, input {
	width: 100%;
}

label {
	margin-top: 5px;
}

p {
	color: red;
	font-weight: bold;
}

a:hover {
	text-decoration: none !important;
	color: #ff6600;
}

h3 {
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	font-weight: bold;
}

.infos_annonce, .panel-body div {
	font-size: 1em !important;
}
