{% extends 'skeleton.html' %}
{% load easy_maps_tags %}

{% block title %}
    {{ annonce.type_de_contrat.type_contrat|capfirst }} - {{ annonce.nom_entreprise }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12 element">
        <div class="row">
            <div class="alert alert-info col-md-10 col-md-offset-1" role="alert">
                <p>
                    <i class="fa fa-info" aria-hidden="true"></i>
                    Cette annonce vous paraît suspecte ? Vous avez postulé et elle n'est plus disponible ?
                    <a href="mailto:stages-admin@resel.fr?subject=[Annonce {{ annonce.pk }}] À propos de cette annonce">
                        <b>Dites le nous !</b>
                    </a>
                </p>
            </div>

            {% if annonce.ville %}
            <div class="col-md-6 col-sm-12 col-xs-12">
                {% easy_map annonce.nom_entreprise|add:' '|add:annonce.ville 200 300 7 %}
            </div>
            {% endif %}

            <div class="col-md-6 col-sm-12 col-xs-12 {% if not annonce.ville %}col-md-offset-3{% endif %}">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>Organisme</b></td>
                                <td>{{ annonce.nom_entreprise|lower|capfirst }}</td>
                            </tr>
                            <tr>
                                <td><b>Localisation</b></td>
                                <td>{{ annonce.zone.nom }}{% if annonce.ville %} - {{ annonce.ville|capfirst }}{% endif %}</td>
                            </tr>
                            {% if annonce.type_organisme %}
                            <tr>
                                <td><b>Type d'organisme</b></td>
                                <td>{{ annonce.type_organisme.type_organisme }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td><b>Nature du contrat</b></td>
                                <td>{{ annonce.type_de_contrat.type_contrat }} durant {{ annonce.duree.duree }}</td>
                            </tr>
                            {% if annonce.date_debut %}
                            <tr>
                                <td><b>Début du contrat</b></td>
                                <td>{{ annonce.date_debut|date:"d F Y" }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td><b>Domaines concernés</b></td>
                                <td>{% for d in annonce.domain.all %}<p>{{ d.nom }}</p>{% endfor %}</td>
                            </tr>
                            {% if annonce.url %}
                            <tr>
                                <td><b>URL de l'annonce</b></td>
                                <td><a href="{{ annonce.url }}">{{ annonce.url }}</a></td>
                            </tr>
                            {% elif annonce.file and mobile %}
                            <tr>
                                <td><b>Télécharger l'annonce</b></td>
                                <td><a href="{{ annonce.file.url }}">Cliquez ici</a></td>
                            </tr>
                            {% endif %}
                            {% if annonce.commentaires %}
                            <tr>
                                <td><b>Commentaires</b></td>
                                <td>{{ annonce.commentaires|linebreaks }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if annonce.file and not mobile %}
        <div class="row">
            <iframe  type="application/pdf" src="{{ annonce.file.url }}" width="100%" height="800"></iframe> 
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}