{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Parcourir les annonces{% endblock %}

{% block css %}<link href="{% static 'css/search/index.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-sm-3 well">
            <h3 class="text-center">Sélectionnez vos critères de recherche</h3>
            <form action="." method="post" class='form-horizontal'>
                {% csrf_token %}
                {% for field in form %}
                    <div class="control-group">
			<label class="control-label">{{ field.label }}</label>
                        {% if field.errors %}
                            <div class="text-center alert alert-danger">
                                {% for error in field.errors %}
                            	    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
			<div class="controls">{{ field }}</div>
		    </div>
                {% endfor %}
		<br>
		<div class="text-center control-group">
                    <div class=" controls btn-group btn-group-sm">
			<a class="btn btn-primary" href="{% url 'search:index' %}"><span class="glyphicon glyphicon-remove"></span> Remise à zéro</a>
			<button class="btn btn-primary" type="submit" id="button"><span class="glyphicon glyphicon-ok-sign"></span> Rechercher</button>
		    </div>
		</div>
            </form>
        </div>
        <div class="col-sm-8 col-sm-offset-1 well">
        {% if annonces %}
            <legend>{{ annonces|length }} annonce{{ annonces|length|pluralize }} correspond{{ annonces|length|pluralize:'ent' }} &agrave; votre recherche</legend>
            {% for annonce in annonces %}
                <a href="{% url 'search:detail' annonce.id %}">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ annonce.nom_entreprise }} - {{ annonce.zone }} - {{ annonce.type_de_contrat }}</h3>
                        </div>
                        <div class="panel-body infos_annonce">
                            <div class="col-md-6">
				<ul>
				{% for domaine in annonce.domain.all %}<li>{{ domaine }}</li>{% endfor %}
				</ul>
			    </div>
			    <div class="col-md-6">
				<ul>
				    <li>Publiée le {{ annonce.pub_date|date:'DATE_FORMAT' }}</li>
				    <li>Contrat d'une durée de {{ annonce.duree }}</li>
				</ul>	
			    </div>
			</div>
                    </div>
                </a>
            {% endfor %}

            {% if is_paginated %}
                <ul class="pager">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">Précédente</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Suivante</a></li>
                    {% endif %}
                </ul>
            {% endif %}

        {% else %}
            <span class="glyphicon glyphicon-warning-sign"></span>  <strong>Aucune annonce ne correspond &agrave; votre recherche</strong>
        {% endif %}
	</div>
    </div>
{% endblock %}
