{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Mettre en ligne une annonce{% endblock %}

{% block css %}<link href="{% static 'css/post/formulaire.css' %}" rel="stylesheet">{% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.ui.datepicker-fr.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="container">
                <div class="row">
                        <div class="col-md-10 col-md-offset-1 well">
                                <form action="" method="post" id="annonce_form" enctype="multipart/form-data" class="form-horizontal">
                                        {% csrf_token %}
                                        <div class="row">
                                        <fieldset class="col-md-4">
                                        <legend class="text-center">Informations indispensables</legend>
                                        {% for field in form %}
                                            {% if field.name == 'url_annonce' %}
                                                </fieldset><fieldset class="col-sm-4"><legend class="text-center">Accès à l'annonce</legend><h5 class="text-center">Renseigner au moins un des champs</h5>
                                            {% elif field.name == 'ville' %}
                                                </fieldset><fieldset class="col-sm-4"><legend class="text-center">Informations facultatives</legend>
                                            {% endif %}
                                            <div class="control-group">
                                                <label class="control-label">{{ field.label }}</label>
                                                {% if field.errors %}
                                                    <div class="text-center alert alert-danger">
                                                        {% for error in field.errors %}
                                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                <div class="controls text-center">{{ field }}</div>
						{% if field.help_text != '' %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
                                            </div>
                                        {% endfor %}
                                        </fieldset>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button class="btn btn-primary" type="submit" id="button"><span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button>
                                            </div>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>
	<script type="text/javascript">
		$(document).ready(function(){
			$( "#id_date_debut" ).datepicker();
		});
	</script>
{% endblock %}
