textarea {
	resize: none;
	width: 100%;
}

select, input {
	width: 100%;
}

label {
	margin-top: 5px;
}

.erreur {
	color: red;
}

#manual_modo a, h2 {
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	font-weight: bold;
}

button {
	margin-top: 10px;
	margin-left: 42.5%;
}