body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: inherit;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer {
    margin: 20px 0;
    color: white;
}

.full {
        background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#logo {
    height: 30px;
    width: auto;
    margin-top: -5px;
}